/* Styles go here */

body {background-color: #B0C4DE
;}

h1 {
  font: serif;
  font-size: 25px;
   color: yellow;
  border-style:dotted;
}
#section {
  background-color: gray;
  width: 50%;
  height: 50%;
}
